BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
ColumnLimit: 80
Language: Cpp
Standard: Latest
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Stroustrup
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SortIncludes: true
ReflowComments: true
UseTab: Never
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
IncludeBlocks: Regroup
Cpp11BracedListStyle: true